.custom-form {
    background-color: #98c5db;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 22px 23px 19px -3px rgba(0,0,0,0.1);

    
  }
  
  .custom-form label {
    font-weight: bold;
  }
  
  .custom-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .custom-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .custom-form button:hover {
    background-color: #0056b3;
  }
  